@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [JSModuleAutoLoader("./_content/BootstrapBlazor.Graph/Components/GraphView/GraphView.razor.js")]

<div class="app">
    <div class="app-stencil"></div>
    <div class="app-content" style="height:800px"></div>
</div>

