@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [JSModuleAutoLoader("./_content/BootstrapBlazor.Excel/Components/Excel.razor.js", JSObjectReference = true)]

<div @attributes="@AdditionalAttributes" id="@Id" class="@ClassString"></div>
